html{   scroll-behavior: smooth;   overflow-x: hidden;}

::-webkit-scrollbar{
    background-color: #1460ee;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: white;
}

.Btn-Contact{   background: rgb(9, 240, 82);  color: white;}

.transition-button-hover:hover{   background: linear-gradient(to right, #008cf0, rgb(3, 61, 207));}

.gradient-Global{    background-image: linear-gradient(to right, #6d9eec, #508bef, #3276f0, #1460ee, #0248e9);}

.form-content{   display: flex;    flex-direction: column; }

.form-content.error p{  color: #ff3b25;   visibility: visible;}

